<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dubhe.course.mapper.CourseUserScheduleMapper">
    <resultMap id="BaseResultMap" type="org.dubhe.course.domain.CourseUserSchedule">
        <!--@mbg.generated-->
        <!--@Table dubhe-cloud-prod.course_user_schedule-->
        <result column="userId" jdbcType="BIGINT" property="userId"/>
        <result column="scheduleId" jdbcType="BIGINT" property="scheduleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        userId, scheduleId
    </sql>
    <insert id="insert" parameterType="org.dubhe.course.domain.CourseUserSchedule">
        <!--@mbg.generated-->
        insert into dubhe-cloud-prod.course_user_schedule (userId, scheduleId)
        values (#{userId,jdbcType=BIGINT}, #{scheduleId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="org.dubhe.course.domain.CourseUserSchedule">
        <!--@mbg.generated-->
        insert into dubhe-cloud-prod.course_user_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="scheduleId != null">
                scheduleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="scheduleId != null">
                #{scheduleId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
</mapper>
