<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dubhe.course.dao.CourseScheduleMapper">
    <resultMap id="BaseResultMap" type="org.dubhe.course.domain.CourseSchedule">
        <!--@mbg.generated-->
        <!--@Table dubhe-cloud-prod.course_schedule-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="startTime" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="totalChapterNum" jdbcType="INTEGER" property="totalChapterNum"/>
        <result column="learnedChapterNum" jdbcType="INTEGER" property="learnedChapterNum"/>
        <result column="schedule" jdbcType="INTEGER" property="schedule"/>
        <result column="done" jdbcType="INTEGER" property="done"/>
        <result column="courseId" jdbcType="BIGINT" property="courseId"/>
        <result column="userId" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, startTime, lastUpdateTime, totalChapterNum, learnedChapterNum, schedule, done,
        courseId, userId
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from dubhe-cloud-prod.course_schedule
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from dubhe-cloud-prod.course_schedule
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.dubhe.course.domain.CourseSchedule"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dubhe-cloud-prod.course_schedule (startTime, lastUpdateTime, totalChapterNum,
                                                      learnedChapterNum, schedule, done,
                                                      courseId, userId)
        values (#{startTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP},
                #{totalChapterNum,jdbcType=INTEGER},
                #{learnedChapterNum,jdbcType=INTEGER}, #{schedule,jdbcType=INTEGER}, #{done,jdbcType=INTEGER},
                #{courseId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.dubhe.course.domain.CourseSchedule"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dubhe-cloud-prod.course_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startTime != null">
                startTime,
            </if>
            <if test="lastUpdateTime != null">
                lastUpdateTime,
            </if>
            <if test="totalChapterNum != null">
                totalChapterNum,
            </if>
            <if test="learnedChapterNum != null">
                learnedChapterNum,
            </if>
            <if test="schedule != null">
                schedule,
            </if>
            <if test="done != null">
                done,
            </if>
            <if test="courseId != null">
                courseId,
            </if>
            <if test="userId != null">
                userId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalChapterNum != null">
                #{totalChapterNum,jdbcType=INTEGER},
            </if>
            <if test="learnedChapterNum != null">
                #{learnedChapterNum,jdbcType=INTEGER},
            </if>
            <if test="schedule != null">
                #{schedule,jdbcType=INTEGER},
            </if>
            <if test="done != null">
                #{done,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.dubhe.course.domain.CourseSchedule">
        <!--@mbg.generated-->
        update dubhe-cloud-prod.course_schedule
        <set>
            <if test="startTime != null">
                startTime = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalChapterNum != null">
                totalChapterNum = #{totalChapterNum,jdbcType=INTEGER},
            </if>
            <if test="learnedChapterNum != null">
                learnedChapterNum = #{learnedChapterNum,jdbcType=INTEGER},
            </if>
            <if test="schedule != null">
                schedule = #{schedule,jdbcType=INTEGER},
            </if>
            <if test="done != null">
                done = #{done,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                courseId = #{courseId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.dubhe.course.domain.CourseSchedule">
        <!--@mbg.generated-->
        update dubhe-cloud-prod.course_schedule
                set startTime = #{startTime,jdbcType=TIMESTAMP},
                        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
                        totalChapterNum = #{totalChapterNum,jdbcType=INTEGER},
                        learnedChapterNum = #{learnedChapterNum,jdbcType=INTEGER},
                        schedule = #{schedule,jdbcType=INTEGER},
                        done = #{done,jdbcType=INTEGER},
                        courseId = #{courseId,jdbcType=BIGINT},
                        userId = #{userId,jdbcType=BIGINT} where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-12-05-->
    <select id="selectOneByUserIdAndCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dubhe-cloud-prod.course_schedule
        <where>
            <if test="userId != null">
                and userId=#{userId,jdbcType=BIGINT}
            </if>
            <if test="courseId != null">
                and courseId=#{courseId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-12-07-->
    <select id="selectAllByCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dubhe-cloud-prod.course_schedule
        <where>
            <if test="courseId != null">
                and courseId=#{courseId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-12-08-->
    <delete id="deleteByCourseIdAndUserId">
        delete
        from dubhe-cloud-prod.course_schedule
        <where>
            <if test="courseId != null">
                and courseId=#{courseId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and userId=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </delete>
</mapper>
