<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dubhe.data.course.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="org.dubhe.data.course.domain.Course">
        <!--@mbg.generated-->
        <!--@Table course-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="BIGINT" property="type"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="totalChapters" jdbcType="INTEGER" property="totalChapters"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="coverImage" jdbcType="VARCHAR" property="coverImage"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createUserId" jdbcType="BIGINT" property="createUserId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `type`, introduction, totalChapters, createTime, updateTime, coverImage,
        `status`, createUserId
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from course
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from course
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.dubhe.data.course.domain.Course"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into course (`name`, `type`, introduction,
        totalChapters, createTime, updateTime,
        coverImage, `status`, createUserId)
        values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, #{introduction,jdbcType=VARCHAR},
        #{totalChapters,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{coverImage,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createUserId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.dubhe.data.course.domain.Course"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="introduction != null and introduction != ''">
                introduction,
            </if>
            <if test="totalChapters != null">
                totalChapters,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="coverImage != null and coverImage != ''">
                coverImage,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=BIGINT},
            </if>
            <if test="introduction != null and introduction != ''">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="totalChapters != null">
                #{totalChapters,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="coverImage != null and coverImage != ''">
                #{coverImage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.dubhe.data.course.domain.Course">
        <!--@mbg.generated-->
        update course
        <set>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=BIGINT},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="totalChapters != null">
                totalChapters = #{totalChapters,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="coverImage != null and coverImage != ''">
                coverImage = #{coverImage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                createUserId = #{createUserId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.dubhe.data.course.domain.Course">
        <!--@mbg.generated-->
        update course
        set `name` = #{name,jdbcType=VARCHAR},
        `type` = #{type,jdbcType=BIGINT},
        introduction = #{introduction,jdbcType=VARCHAR},
        totalChapters = #{totalChapters,jdbcType=INTEGER},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
        coverImage = #{coverImage,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        createUserId = #{createUserId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-12-05-->
    <select id="selectAllByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
        <where>
            <if test="type != null">
                and `type` = #{type,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-12-06-->
    <select id="selectOneByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
        <where>
            <if test="type != null">
                and `type` = #{type,jdbcType=BIGINT}
            </if>
        </where>
        LIMIT 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-12-08-->
    <select id="selectAllByTypeAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
        <where>
            <if test="type != null">
                and `type` = #{type,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>
